{% extends "base.html" %}

{% block start %}

<div class="container mt-5" >

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update reciepes</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Reciepe name</label>
          <input type="text" name="reciepe_name" value="{{reciepe.reciepe_name}}" class="form-control" >
        </div>
          
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Reciepe Description</label>
          <textarea class="form-control" value="" required name="reciepe_description">{{reciepe.reciepe_description}} </textarea>        
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Reciepe Image</label>
            <input type="file" name="reciepe_image" class="form-control" >
        </div>
        <button type="submit" class="btn btn-success">Update</button>
      </form>

       

</div>


{% endblock %}


